@import "tailwindcss";

@layer base {
  * {
    font-family: 'Hammersmith One', sans-serif;
  }
  
  body {
    font-family: 'Hammersmith One', sans-serif;
  }
  
  #root {
    font-family: 'Hammersmith One', sans-serif;
  }
}